<section class="footer">
    <div class="right-col">
        <footer>
            <p>Copyright MusicTogether<br>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
    
          </footer>

    </div>
    
    
</section>





</body>
</html>