<%-include('./partials/header.ejs')%>


<section class="intro">
     <h2>Contact</h2>
     <p>Author:Bentic Sebastian (bsebast3)</p>
     <p>The author is a music enthusiast himself and loves building communities that have a passion for music.</p>
</section>

    <%-include('./partials/footer.ejs')%>




