<%-include('./partials/header.ejs')%>

<div>
<section class="intro">
    <p>Hello everyone. Welcome to MusicTogether. The aim of this website is to connect people who want to learn music to people who can teach music. We aim to make this an interactive experience for everyone. Enjoy!</p>

</section>
</div>
    <%-include('./partials/footer.ejs')%>