<%-include('../partials/header.ejs')%>
<h2 class="newConnectionHeader">Browse All Music Lessons</h2>
<ul class = "nav connections">
    
    <li class = "pianoLessons">
       <a class = "dropdown-toggle" data-toggle = "dropdown" >
          Piano Lessons <span class = "caret"></span>
       </a>
       
       <ul class = "dropdown-menu">
          <li><a href = "/connection.html">Song:"Edelweiss", taught by Mary Anderson</a></li>
          <li><a href = "/connection.html">Song:"Rocket Man", taught by Bentic Sebastian</a></li>
          <li><a href = "/connection.html">Song:"Twinkle, Twinkle Little Star", taught by Abraham Gustav</a></li>
          
       </ul>
       
    </li>

    <li class = "guitarLessons">
        <a class = "dropdown-toggle" data-toggle = "dropdown" >
           Guitar Lessons <span class = "caret"></span>
        </a>
        
        <ul class = "dropdown-menu">
           <li><a href = "/connection.html">Song: "Back in Black", taught by Rick Ross</a></li>
           <li><a href = "/connection.html">Song: " Yellow" , taught by Nathan Rodrigues</a></li>
           <li><a href = "/connection.html">Song: "Purple Rain", taught by Tania Jane </a></li>
           </ul>
        
     </li>

     <li class = "dropdown">
        <a class = "dropdown-toggle" data-toggle = "dropdown" >
           Drum Lessons <span class = "caret"></span>
        </a>
        
        <ul class = "dropdown-menu">
           <li><a href = "/connection.html">Song: "Pretender", taught by Mario Lopez</a></li>
           <li><a href = "/connection.html">Song: "Autumn Leaves", taught by Lara Bareilles</a></li>
           <li><a href = "/connection.html">Song: "Stairway To Heaven", taught by Justin D'Mello </a></li>
           
        </ul>
        
     </li>
     
   
 </ul>

 <%-include('../partials/footer.ejs')%>